<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<!-- Meta -->
		<title>Transcendence</title>
		<link rel="icon" href="{% static 'main/img/favicon.ico' %}">

		<meta charset="UTF-8">
		<meta name="author" content="lpupier - tgiraudo - ezanotti">
		<meta name="description" content="Hello from 42 Lyon!">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Styles -->
		<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
		<link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
		<link rel="stylesheet" href="{% static 'pong/css/style.css' %}">
		<link rel="stylesheet" href="{% static 'users/css/style.css' %}">
		<link rel="stylesheet" href="{% static 'notifications/css/style.css' %}">
		<link rel="stylesheet" href="{% static 'users/css/checkbox.css' %}">
		<link rel="stylesheet" href="{% static 'ranking/css/style.css' %}">
		<link rel="stylesheet" href="{% static 'users/css/carousel.css' %}">

		<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>

		<!-- Scripts -->
		<script src="{% static 'chat/js/chat_socket.js' %}"></script>
		<script src="{% static 'notifications/js/notification_socket.js' %}"></script>
		<script src="{% static 'users/js/status_socket.js' %}"></script>
		<script src="{% static 'main/js/header.js' %}"></script>
		<!-- Pong scripts -->
		<script src="{% static 'pong/js/classes.js' %}"></script>
		<script src="{% static 'pong/js/messagesFunctions.js' %}"></script>
		<script src="{% static 'pong/js/utils.js' %}"></script>
		<script src="{% static 'pong/js/pong.js' %}"></script>

		<!-- Pages -->
		<script src="{% static 'main/pages/ken.js' %}"></script>
		<script src="{% static 'main/pages/disclaimer.js' %}"></script>

		<script src="{% static 'users/pages/sign_in.js' %}"></script>
		<script src="{% static 'users/pages/sign_up.js' %}"></script>
		<script src="{% static 'users/pages/reset_password.js' %}"></script>
		<script src="{% static 'users/pages/reset_password_id.js' %}"></script>
		<script src="{% static 'users/pages/profile.js' %}"></script>
		<script src="{% static 'users/pages/friends.js' %}"></script>

		<script src="{% static 'pong/pages/choose_mode.js' %}"></script>
		<script src="{% static 'pong/pages/ranked.js' %}"></script>
		<script src="{% static 'pong/pages/practice.js' %}"></script>
		<script src="{% static 'pong/pages/wait_players.js' %}"></script>
		<script src="{% static 'pong/pages/game.js' %}"></script>
		<script src="{% static 'pong/pages/game_over.js' %}"></script>

		<script src="{% static 'chat/pages/chat.js' %}"></script>
		<script src="{% static 'chat/pages/new.js' %}"></script>
		<script src="{% static 'chat/pages/room.js' %}"></script>

		<script src="{% static 'notifications/pages/notifications.js' %}"></script>

		<script src="{% static 'ranking/pages/ranking.js' %}"></script>

		<!-- Errors handling -->
		<script src="{% static 'errors/404.js' %}"></script>
		<script src="{% static 'errors/405.js' %}"></script>
		<script src="{% static 'errors/500.js' %}"></script>
		<script src="{% static 'errors/token42.js' %}"></script>
		<script src="{% static 'errors/down42.js' %}"></script>
		<script src="{% static 'errors/used42.js' %}"></script>
		<script src="{% static 'errors/auth42.js' %}"></script>

		<!-- Main -->
		<script src="{% static 'main/js/main.js' %}"></script>
	</head>
	
	<body>
		<!-- Header -->
		<header>
			<nav class="header-menu">
				<div class="menu-windows auth">
					<button class="menu-link" data-route="/pong/"><img class="menu-img" src="{% static 'main/img/pong.png' %}"><p class="menu-text">Pong</p></button>
					<button class="menu-link" data-route="/ranking/total"><img class="menu-img" src="{% static 'main/img/ranking.png' %}"><p class="menu-text">Ranking</p></button>
					<button class="menu-link" data-route="/chat/"><img class="menu-img" src="{% static 'main/img/chats.png' %}"><p class="menu-text">Chats</p></button>
					<button class="menu-link" data-route="/friends/"><img class="menu-img" src="{% static 'main/img/users.png' %}"><p class="menu-text">Friends</p></button>
				</div>
				<div class="menu-windows guest">
					<button class="menu-link" data-route="/sign_in/"><img class="menu-img" src="{% static 'main/img/signin.png' %}"><p class="menu-text">Sign in</p></button>
					<button class="menu-link" data-route="/sign_up/"><img class="menu-img" src="{% static 'main/img/signup.png' %}"><p class="menu-text">Sign up</p></button>
				</div>
				<div class="menu-pictures">
					<button class="menu-profile" id="button-profile" data-route="/profile/me">
						<p class="menu-username" id="header-username"></p>
						<img class="menu-img-user" id="header-user-photo" alt="profile picture">
					</button>
					<button class="menu-notifs" data-route="/notifications/">
						<img class="menu-img-notifs" id="notifs-gif" alt="notifications">
						<span class="notification-count" id="header-notification-count"></span>
					</button>
				</div>
			</nav>
		</header>

		<div class="page">
			<!-- App -->
			<div id="app"></div>

			<!-- Footer -->
			<footer>
				<div class="footer-category">
					<p class="footer-title">Léon Pupier</p>
					<a href="https://github.com/LeonPupier" data-ignore-click><span class="footer-link"><img class="footer-logo" src="{% static 'main/img/github.png' %}">GitHub</span></a>
					<a href="https://profile.intra.42.fr/users/lpupier" data-ignore-click><span class="footer-link"><img class="footer-logo" src="{% static 'main/img/42.png' %}">Intra</span></a>
				</div>
				
				<div class="footer-category">
					<p class="footer-title">Elias Zanotti</p>
					<a href="https://github.com/eliaszanotti" data-ignore-click><span class="footer-link"><img class="footer-logo" src="{% static 'main/img/github.png' %}">GitHub</span></a>
					<a href="https://profile.intra.42.fr/users/ezanotti" data-ignore-click><span class="footer-link"><img class="footer-logo" src="{% static 'main/img/42.png' %}">Intra</span></a>
				</div>
				
				<div class="footer-category">
					<p class="footer-title">Thibault Giraudon</p>
					<a href="https://github.com/Thib1708" data-ignore-click><span class="footer-link"><img class="footer-logo" src="{% static 'main/img/github.png' %}">GitHub</span></a>
					<a href="https://profile.intra.42.fr/users/tgiraudo" data-ignore-click><span class="footer-link"><img class="footer-logo" src="{% static 'main/img/42.png' %}">Intra</span></a>
				</div>
				
				<div class="footer-category">
					<p class="footer-title">Credits ©</p>
					<p class="footer-link">Transcendence - 2024</p>
					<p class="footer-link">42 Lyon</p>
				</div>

				<ul class="circles">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</footer>
		</div>

	</body>
</html>