/* ALREADY LOG IN */

.already-log-in {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.log-in-message {
	font-family: var(--font-text-bold);
	font-size: var(--h4-size);
	color: var(--color-dark-hover);
}

.log-in-button {
	font-size: 1em;
	padding: 0.5em;
	margin-right: 0.5em;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	font-family: var(--font-text-bold);
	color: white;
	border: 1px solid var(--color-dark);
	border-radius: var(--input-border-radius);
	background: var(--color-dark);
	text-align: center;
	vertical-align: middle;
}


/* SIGN IN-UP */

.form-div {
	margin: 50px 0;
	padding: 0 40px;
	padding-bottom: 10px;
	width: 30em;
	height: auto;
	background-color: var(--color-light-hover);
	border-radius: var(--border-radius);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.sign-form {
	width: 100%;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: flex-start;
	gap: var(--columns-gap);
}

.sign-form .sign-title {
	margin: 0;
	padding: 0;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.sign-form input {
	font-family: var(--font-text-bold);
	color: var(--color-dark-hover);
	padding: var(--input-padding);
	width: calc(100% - var(--input-padding) * 2 - 2px);
	border-radius: var(--input-border-radius);
	border: none;
	outline: none;
	color: var(--color-dark-hover);
	background: transparent;
}

.sign-form input[type="submit"] {
	margin-bottom: 10px;
	font-size: 1em;
	padding: calc(var(--input-padding) + 2px);
	border-style: none;
	width: 100%;
	background-color: var(--color-dark);
	color: var(--color-light);
	transition: background-color 0.3s ease;
}

.sign-form input[type="submit"]:hover {
	color: var(--color-dark);
	padding: calc(var(--input-padding) + 1px);
	background: transparent;
	border: 1px solid var(--color-dark);
}

.sign-form .error-alert {
	display: flex;
	align-items: left;
	justify-content: left;
}

.sign-form .error-alert p {
	font-size: var(--h5-size);
}

.sign-form .error-alert a {
	font-size: 15px;
	margin-right: 10px;
}

.sign-42-button {
	width: 100%;
}

.sign-42-button input {
	font-family: var(--font-text-bold);
	border: 1px solid var(--color-dark);
	border-radius: var(--input-border-radius);
	background: transparent;
	margin-bottom: 10px;
	font-size: 1em;
	padding: calc(var(--input-padding) + 2px);
	border-style: none;
	border-radius: var(--input-border-radius);
	width: 100%;
	background-color: var(--color-dark);
	color: var(--color-light);
	font-family: var(--font-text-bold);
	transition: background-color 0.3s ease;
}

.sign-42-button input:hover {
	color: var(--color-dark);
	padding: calc(var(--input-padding) + 1px);
	background: transparent;
	border: 1px solid var(--color-dark);
}

.forgot-password {
	font-family: var(--font-text-regular);
	font-size: var(--h4-size);
	color: var(--color-dark);
}

.input-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 10px;
	border: 1px solid var(--color-dark);
	border-radius: var(--input-border-radius);
	background: transparent;
}

.input-container input {
	flex-grow: 1;
}

.img-password {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	height: 100%;
	border-radius: 0;
	width: 1.8em;
	height: 1.8em;
}


/* Reorganize users CSS on mobile */
@media (max-width: 1000px) {
	.form-div {
		width: 70%;
	}
}


/* FRIENDS */

.friends-screen {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.status-log {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.users-img {
	width: 3em;
	height: 3em;
}

.friends {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.no-users {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 1.5em;
	font-family: var(--font-text-regular);
	color: var(--color-dark-hover);
}

.list {
	width: 80%;
	height: 45em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow-y: auto;
	background-color: var(--color-light-hover);
	border-radius: var(--border-radius);
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 5%;
	margin-left: 10%;
	margin-right: 10%;
}

.list-empty {
	width: 80%;
	height: 45em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
	background-color: var(--color-light-hover);
	border-radius: var(--border-radius);
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 5%;
	margin-left: 10%;
	margin-right: 10%;
}

.no-users-img {
	width: 5em;
	height: 5em;
	margin-bottom: 0.5em;
	border-radius: 0;
	opacity: 0.7;
}

.users-user {
	font-size: 1.5em;
	font-family: var(--font-text-bold);
	color: var(--color-dark);
	margin-right: 0.25em;
	margin-left: 0.25em;
}

.menu-users-link {
	font-family: var(--font-text-bold);
	color: var(--color-light);
	font-size: 1.5em;
	text-decoration: none;
	display: inline-block;
	padding: 0.5em 0.5em;
	position: relative;
}

/* Reorganize friends CSS on mobile */
@media (max-width: 1000px) {
	.friends {
		width: 90%;
	}

	.list, .list-empty {
		height: 28em;
	}

	.users-img {
		width: 2em;
		height: 2em;
	}

	.users-user {
		font-size: 1em;
	}

	.status {
		font-size: 0.8em;
	}

	.no-users {
		font-size: 1em;
	}

	.no-users-img {
		width: 3em;
		height: 3em;
	}
}


/* PROFILE */

.profile {
	margin-top: 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.profile-img {
	width: 10em;
	height: 10em;
}

.profile-username {
	text-align: center;
	font-family: var(--font-text-bold);
	font-size: var(--h3-size);
	color: var(--color-dark);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.profile-official-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.profile-official {
	width: 1.5em;
	height: 1.5em;
	margin-left: 0.25em;
}

.profile-official-text {
	position: absolute;
	display: none;
	position: absolute;
	font-size: 0.9em;
	font-family: var(--font-text-regular);
	color: var(--color-dark-hover);
	background-color: var(--color-light-hover);
	border-radius: var(--border-radius);
	padding: 0.5em;
	left: 100%;
	margin-left: 0.5em;
}

.profile-official-container:hover .profile-official-text {
	display: block;
}

.profile-email {
	text-align: center;
	font-family: var(--font-text-regular);
	font-size: var(--h4-size);
	color: var(--color-dark-hover);
}

.profile-description {
	font-family: var(--font-text-regular);
	font-size: var(--h4-size);
	color: var(--color-dark-hover);
	width: 30vw;
	overflow-wrap: break-word;
	text-align: center;
	margin-top: 15px;
}

.profile-actions {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.profile-button {
	width: auto;
	font-size: 1em;
	padding: 0.5em;
	margin-right: 0.5em;
	margin-top: 2em;
	margin-bottom: 2em;
	font-family: var(--font-text-bold);
	color: white;
	border: 1px solid var(--color-dark);
	border-radius: var(--input-border-radius);
	background: var(--color-dark);
	text-align: center;
	vertical-align: middle;
}

.profile-button-pending {
	width: auto;
	font-size: 1em;
	padding: 0.5em;
	margin-right: 0.5em;
	margin-top: 2em;
	margin-bottom: 2em;
	font-family: var(--font-text-bold);
	color: white;
	border: 1px solid var(--color-dark);
	border-radius: var(--input-border-radius);
	background: var(--color-dark);
	opacity: 0.6;
	text-align: center;
	vertical-align: middle;
}

.profile-blocked {
	font-size: 1em;
	margin-top: 0.5em;
	margin-right: 0.5em;
	font-family: var(--font-text-bold);
	color: var(--color-dark-hover);
	text-align: center;
	vertical-align: middle;
}

.profile-stats {
	display: flex;
	align-items: left;
	justify-content: center;
	flex-direction: row;
	width: 100%;
}

.profile-stats-title {
	font-family: var(--font-text-bold);
	font-size: 2em;
	color: var(--color-dark);
	margin-bottom: 0.25em;
}

.profile-stats-disclaimer {
	font-family: var(--font-text-regular);
	font-size: 1em;
	color: var(--color-dark-hover);
	margin-bottom: 1em;
}

.profile-stats-divider {
	font-size: 1.2em;
	font-family: var(--font-text-bold);
	color: var(--color-dark-hover);
	margin-top: 1em;
	opacity: 0.7;
}

#carousel-global, #carousel-modes {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.profile-stats-card, #carousel-global .profile-stats-card-global, #carousel-modes .profile-stats-card-modes {
	display: none;
	width: 30%;
	padding: 2em;
	align-items: center;
	background-color: var(--color-light-hover);
	border-radius: var(--border-radius);
	margin-bottom: 2em;
	margin: 1em;
}

#carousel-global .profile-stats-card-global:first-child, #carousel-modes .profile-stats-card-modes:first-child {
	display: block;
}

.profile-stats-category {
	font-family: var(--font-text-bold);
	font-size: 1.2em;
	color: var(--color-dark-hover);
	margin-bottom: 0.5em;
}

.profile-stats-text {
	flex-grow: 1;
	font-family: var(--font-text-regular);
	font-size: 1em;
	color: var(--color-dark-hover);
}

.profile-stats-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 1em;
}

.profile-stats-button {
	border-radius: var(--border-radius);
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding: 0;
}

.profile-stats-buttons-img {
	width: 2.5em;
	height: 2.5em;
	border-radius: 0;
}

.profile-stats-card-img {
	border-radius: 0;
	width: 5em;
	height: 5em;
	margin-bottom: 1em;
}

.profile-sign-out-button {
	font-size: 1em;
	padding: calc(var(--input-padding) + 2px);
	width: 100%;
	margin-bottom: 40px;
	font-family: var(--font-text-bold);
	color: white;
	border-radius: var(--input-border-radius);
	background: #cb0a0a;
	text-align: center;
	vertical-align: middle;
}

.profile-history-container {
	width: 95%;
	margin: 20px;
	margin-top: 35px;
	margin-bottom: 50px;
	border-radius: var(--border-radius);
	box-shadow: 0 0 10px 0 var(--color-box-shadow);
}

.profile-history {
	overflow: hidden;
}

.history-players-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.rank-image {
	width: 2.5em;
	height: 2.5em;
}

/* Responsive games history CSS */
@media (max-width: 1000px) {
	.history-players-container {
		flex-direction: column;
		align-items: left;
		justify-content: left;
	}

	.rank-image {
		width: 2em;
		height: 2em;
	}

	.profile-description {
		width: 50vw;
	}
}