Django>=3.2
djangorestframework==3.14.0
djangorestframework-simplejwt
gunicorn
bcrypt
django-cors-headers
channels==3.0.5
channels_redis
daphne==3.0.2
psycopg2-binary==2.9.9
Pillow==10.2.0
uvicorn==0.27.0
requests==2.31.0
websockets==12.0
pytz
