html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #58554a;
	 display: flex;
    flex-direction: column;
}

header {
    /* height: 90px; */
    height: 13%;
    width: 100%;
    font-size: 100%;
    position: relative;
    z-index: 1;
    background-color: #b29642;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header h1 {
    flex-grow: 1;
    text-align: center;
    font-size: 400%;
    color: #000;
    margin: 0;
}

nav {
    height: 4%;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    background-color: #b29642;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 400px;
}

nav button {
    height: 95%;
    width: 300px;
    background-color: #c7bca1;
    border: none;
    border-radius: 5px;
    padding: 0px 20px;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

nav button:hover {
    background-color: #bbb;
}

.logo_header {
    position: absolute;
    z-index: 2;
    top: 0;
    transform: translateX(-50%);
    height: 24%;
    width: auto;
}

.logo_left{
    left: 10%;
}

.logo_right{
    left: 90%;
}

.box_shandow {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.contentStyle {
    height: 69%;
}

.decorate_footer {
    height: 3%;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    background-color: #b29642;
}

footer {
    height: 11%;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    background-color: #b29642;
}

.logo_footer {
    position: absolute;
    z-index: 2;
    top: 88%;
    left: 50%;
    transform: translateX(-50%);
    height: 20%;
    width: auto;
}

.montez-regular {
    font-family: "Montez", cursive;
    font-weight: 400;
    font-style: normal;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 20px;
    box-sizing: border-box;
}




/* tela de login lucas excluir */
.card {
    width: 100%;
    max-width: 400px;
    background-color: #333;
    border-color: #daa520;
}

.card-title {
    color: #daa520;
}

.form-label {
    color: #fff;
}

.btn {
    background-color: #daa520;
    color: #333;
}

.btn-outline {
    background-color: transparent;
    border: 2px solid #daa520;
    color: #daa520;
}

#login-42-button {
    background-color: #000;
    color: #fff;
}

.d-flex {
    display: flex !important;
}

.justify-content-center {
    justify-content: center !important;
}

.align-items-center {
    align-items: center !important;
}

.min-vh-100 {
    min-height: 100vh !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.d-grid {
    display: grid !important;
    gap: 10px; /* Espaçamento entre botões */
}

/* fim tela login lucas excluir */
