.card {
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card-body {
    padding: 20px;
}

.section-container {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    height: 100%;
}

.section-container h3 {
    margin-top: 0;
}

hr {
    border: 0;
    border-top: 1px solid #dee2e6;
    margin: 10px 0;
}

#user-info img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

.form-group {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="file"],
form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
}
